/* Table */
.gift-packing-delivery-address-table .col-12 {
  width: 100%;
  text-align: center;
}

.gift-packing-delivery-address-table .col-12 i {
  font-size: 40px;
  opacity: 0.4
}

.gift-packing .gift-packing-select {
  width: 180px;
  background-color: #CCCCCC;
  border: 0;
}

.gift-packing-delivery-address-table {
  width: 100%;
}

.gift-packing .gift-packing-table tbody td:first-child {
  border-left: none;
}

.gift-packing .gift-packing-table {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse !important;
  border-radius: 1px;
  width: 100%;
}

.gift-packing .select2-container--default .select2-selection--single {
  height: 30px;
  font-size: 13px;
}

.gift-packing .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 28px;
  font-size: 13px;
}

.gift-packing .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

a.zoomimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  z-index: 222;
}

.gift-packing .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  line-height: 30px;
  font-size: 5px;
}

body#checkout .select2-results__option--selectable {
  font-size: 13px;
  height: 30px;
}

body#checkout .select2-container--default .select2-results>.select2-results__options {
  padding: 0;
}

body#checkout .select2-dropdown {
  padding: 10px;
}

.gift-packing .table thead th, #deliveryAddressesModal table th {
  font-size: 13px;
  padding: 15px;
  border: 0;
}

.gift-packing table td, #deliveryAddressesModal table td {
  padding: 15px;
  font-size: 13px;
  color: #777;
}

.gift-packing .table td h5 {
  font-size: 13px;
  display: block !important;
  width: 100%;
  margin-bottom: 5px;
}

.cart-table.gift-packing-additional-info-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 4%;
}

.box_gift {
  width: 48%;
  margin: 0 0 2%;
  background: #f9f9f9;
  padding: 15px;
  font-size: 13px;
  position: relative;
}

.box_gift h5 {
  font-size: 15px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin: 0 0 15px;
}

.box_gift .form {
  margin-top: 0;
  position: relative;
}

.box_gift ul {
  list-style: disc;
  margin: 15px 0;
  padding-left: 20px;
}

.box_gift ul li {
  padding: 5px 0;
  border-bottom: 1px solid #dfdfdf;
}

.box_gift ul li:last-of-type {
  border-bottom: 0;
}

.form-value.gift-packing-message-text {
  width: 100%;
  border: 1px solid #dfdfdf !important;
  padding: 10px 15px;
  font-size: 13px;
}

.box_gift .form.flexible {
  background: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.box_gift .form.flexible.changeaddress {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  background: #e9e9e9;
}

body .box_gift .select2-container--default .select2-selection--single .select2-selection__rendered span img {
  max-height: 150px;
  width: auto;
}

.box_gift .current-address {
  margin: 0 0 10px;
  width: 100%;
  display: block;
  text-align: center;
}

.box_gift .form.flexible label {
  margin: 0;
  width: auto;
}

body#checkout ul[id^="select2-package-select-"] .select2-results__option--selectable {
  height: 60px;
}

body#checkout ul[id^="select2-package-select-"] .select2-results__option--selectable img {
  max-height: 50px;
  width: auto;
  display: block;
  margin: 0 15px 0 0
}

body .box_gift .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 50px;
}

body .box_gift .select2-container--default .select2-selection--single .select2-selection__rendered span {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.gift-packing .box_gift .select2-container--default .select2-selection--single {
  height: auto;
  border: 0;
  border-radius: 0 !important;
}

.gift-packing .box_gift .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  width: 100%;
  background: transparent;
  color: #fff;
  top: -30px;
}

.gift-packing .box_gift .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  width: 30px;
  background: #000;
  margin: 0 0 0 auto;
}

.box_gift label {
  text-align: center;
  width: 100%;
  margin: 0 0 5px;
}

.box_gift label.gift_choose {
  margin: 0;
  text-align: left;
  padding: 0 40px 0 0;
  height: 30px;
  line-height: 30px;
}

/* Modal */
#deliveryAddressesModal.modal button.close {
  width: 50px;
  height: 50px;
}

.modal-body.flexwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-body.flexwrapper .half_box.gift-packing-delivery-table {
  padding: 0 20px 0 0;
  width: 40%;
  border-right: 1px solid #dfdfdf;
  align-items: flex-start;
  align-content: flex-start;
}

.modal-body.flexwrapper .half_box.gift-packing-delivery-table h3 {
  font-weight: bold;
  margin: 0 0 25px;
  font-size: 18px;
}

.half_box.gift-packing-delivery-address-table {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 40px 10px 40px 40px;
}

.radio-wrapper {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  padding: 0 20px 0 3px;
}

.half_box.gift-packing-delivery-address-table .form {
  width: 48%;
  margin: 0 1% 2%
}

.radio-choose {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 0;
  padding: 10px 50px 10px;
  font-weight: bold;
  align-items: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 7%);
  border-radius: 5px;
  margin-bottom: 15px;
}

.radio-choose input[type=radio] {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%)
}

.radio-choose .form {
  flex-grow: 1;
}

.radio-choose .form.flexible-modal {
  flex-grow: 0;
}

.radio-choose #checkout .modal#deliveryAddressesModal button.close {
  font-size: 14px;
  font-weight: bold;
}

.radio-choose input[type="text"] {
  height: 40px;
  background: transparent;
  padding: 0 20px;
  border: 1px solid #dfdfdf !important;
  width: 100%;
  font-size: 14px;
}

.modal .buttons.centered {
  margin-top: 30px;
  border-top: 1px solid #dfdfdf;
  padding-top: 30px;
}

.modal .buttons.centered .btn.smallbtn {
  margin: 0 5px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 0 25px;
  background: #000;
  color: #fff;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal .buttons.centered .btn.smallbtn.disabled {
  cursor: not-allowed;
  opacity: 0.4
}

.modal .buttons.centered .btn.smallbtn:hover {
  background: #fff;
  color: #000
}

.modal .buttons.centered .btn.smallbtn.transparent {
  background: transparent;
  color: #000;
}

.modal .buttons.centered .btn.smallbtn.transparent:hover {
  background: #000;
  color: #fff;
}

.modal .buttons.centered .btn.smallbtn i {
  font-size: 15px;
  margin: 0 5px 0 0
}

.btn.btn-sm.btn-add-delivery-address i {
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 18px;
}

.btn.btn-sm.btn-add-delivery-address {
  border: 0;
  border-bottom: 1px solid #000 !important;
  border-radius: 0;
}

#deliveryAddressesModal .modal-content {
  padding: 30px
}

body#checkout #deliveryAddressesModal.modal .modal-content {
  height: auto;
  max-width: 1140px;
  margin: 0 auto;
}

#deliveryAddressesModal .icon-plus:before {
  content: '+' !important;
  font-family: inherit
}

.half_box.gift-packing-delivery-address-table .form-value {
  height: 40px;
  width: 100%;
  border-bottom: 0 !important;
  background: #f9f9f9;
  margin: 0 !important;
  padding: 0 20px;
  font-size: 14px;
}

.half_box.gift-packing-delivery-address-table .select2-container--default .select2-selection--single {
  background-color: #f9f9f9;
  border: 0;
  border-radius: 0 !important;
  height: 40px;
}

.half_box.gift-packing-delivery-address-table .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: normal;
  width: 100%;
  height: 40px;
}

body .half_box.gift-packing-delivery-address-table .select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 40px;
  height: 40px;
}

body .half_box.gift-packing-delivery-address-table .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

body .half_box.gift-packing-delivery-address-table .select2-container--default .select2-selection--single .select2-selection__rendered span {
  height: 40px;
}

body .half_box.gift-packing-delivery-address-table .select2-container--default .select2-selection--single .select2-selection__rendered span img {
  height: 30px;
}

.cart-table.gift-packing-delivery-table .select2-container--default .select2-selection--single .select2-selection__rendered img {
  width: auto;
  height: 30px;
  margin: 0 10px 0 0
}

.btn.btn-sm.btn-giftpacking-delivery-delete {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  margin: 0 auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

body#checkout .modal .select2-dropdown img {
  height: 20px;
  width: auto;
  margin: 0 10px 0 0
}

label.mobile-visible {
  display: none;
}

@media (max-width: 991px) {
  #deliveryAddressesModal.modal .form.flexible-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form.flexible-modal label {
    margin: 0;
  }

  #deliveryAddressesModal .modal-body table,
  #deliveryAddressesModal .modal-body tbody,
  #deliveryAddressesModal .modal-body tr,
  #deliveryAddressesModal .modal-body td {
    width: 100%;
    display: block;
  }

  #deliveryAddressesModal .modal-body thead {
    display: none;
  }

  #deliveryAddressesModal .modal-body tr {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
    padding: 10px;
    margin: 0 0 20px;
  }

  .btn.btn-sm.btn-giftpacking-delivery-delete {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 30px;
  }

  .btn.btn-sm.btn-giftpacking-delivery-delete i {
    font-weight: bold;
    font-size: 8px;
  }

  td.choose_col {
    background: #f9f9f9
  }
}

@media(max-width:768px) {
  .modal-body.flexwrapper .half_box.gift-packing-delivery-table {
    width: 100%;
    padding: 20px 0;
    border-right: 0;
    border-bottom: 1px solid #dfdfdf;
  }

  .half_box.gift-packing-delivery-address-table {
    padding: 20px 0;
    width: 100%;
  }

  .radio-wrapper {
    max-height: unset;
    overflow: unset;
    padding: 0;
  }

  .modal.in#deliveryAddressesModal .modal-dialog {
    max-height: 100%;
    overflow: auto;
  }
}

@media(max-width: 600px) {
  .box_gift {
    width: 100%;
  }
}

@media(max-width:500px) {
  label.mobile-visible {
    display: block;
    color: #000;
    opacity: 1 !important;
    text-align: left;
    font-weight: bold;
    padding: 0 20px;
  }

  .modal .buttons.centered {
    margin-top: 0;
  }

  .half_box.gift-packing-delivery-address-table .form {
    width: 100%;
    margin: 0 0 15px;
  }
}
